/* Clock */
@use 'sass:list';

@function digit($digit, $segment) {
  $array: [ [255, 255, 255, 255, 255, 255, 0], [0, 255, 255, 0, 0, 0, 0], [255,
    255, 0, 255, 255, 0, 255], [255, 255, 255, 255, 0, 0, 255], [0, 255, 255, 0,
    0, 255, 255], [255, 0, 255, 255, 0, 255, 255], [255, 0, 255, 255, 255, 255,
    255], [255, 255, 255, 0, 0, 0, 0], [255, 255, 255, 255, 255, 255, 255], [255,
    255, 255, 0, 0, 255, 255], [0, 0, 0, 0, 0, 0, 0] ];

  $digit_array: list.nth($array, $digit + 1);
  $element: list.nth($digit_array, $segment);
  @return $element;
}

@function color($hour, $minute, $second, $segment) {
  $red: digit($hour, $segment);
  $green: digit($minute, $segment);
  $blue: digit($second, $segment);

  @return rgb($red, $green, $blue);
}

@mixin segments($hour, $minute, $second, $segment) {
  .display-no-#{$hour}-#{$minute}-#{$second} .segment-#{$segment} {
    fill: color($hour, $minute, $second, $segment);
  }
}

@for $hour from 0 through 10 {
  @for $minute from 0 through 10 {
    @for $second from 0 through 10 {
      @each $segment in [1, 2, 3, 4, 5, 6, 7] {
        @include segments($hour, $minute, $second, $segment);
      }
    }
  }
}

@function bodybackgroundcolor($color) {
  @if ($color == "on") {
    @return 50;
  } @else {
    @return 200;
  }
}

@each $hour in [ "on", "off" ] {
  @each $minute in [ "on", "off" ] {
    @each $second in [ "on", "off" ] {
      .body-#{$hour}-#{$minute}-#{$second} {
        background-color: rgb(
          bodybackgroundcolor($hour),
          bodybackgroundcolor($minute),
          bodybackgroundcolor($second)
        );
      }
    }
  }
}
