@import "switch";
@import "grid";
@import "clock";
@import "github";

body,
html {
  margin: 0px;
  padding: 0px;
}

.clear {
  clear: both;
}

.display-container {
  position: relative;
  float: left;

  &.display-size-12 {
    width: 122px;
    height: 220px;
  }
}
