@use "variables";
@use "switch";
@use "grid";
@use "clock";
@use "github";

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
}

// Remove unused styles
.display-container {
  position: relative;
  
  &.display-size-12 {
    width: 122px;
    height: 220px;
  }
}
